body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.jumbotron {
  text-align: center;
}

.head-footer {
  float: right;
  font-style: italic;
}

#pizza {
  float: left;
}

.btn {
  margin-top: 25px;
}

.ending-footer {
  text-align: center;
}

.order-display {
  float: right;
  
}